{% extends "intro/base.html" %} {% block title %}Gallery | Gabor Molnar
Engineering{% endblock %} {% block css_files %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='intro/css/slick.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='intro/css/magnific-popup.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='intro/css/gallery.css') }}"
/>
<!-- Main CSS File -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='intro/css/gallery-query.css') }}"
/>
<!-- Queries CSS File -->
{% endblock %} {% block jinja_styles %}
<style></style>
{% endblock %} {% block content %}
<div class="big-title">Structures</div>
<div class="title" id="Steel-Frame-Stability">
  <span>Steel Frame Stability</span>
</div>
<div class="desc center-section--1">
  Steel frame stability checks/analysis of even the most complex frames.
</div>
<br />
<div class="typer-wrapper center-section--1">
  <span>We work for: </span
  ><span
    class="typer"
    id="typer-stability"
    data-words="consulting engineers, contractors, clients"
    data-delay="75"
    data-deleteDelay="1500"
    data-colors="#727272"
  ></span>
  <span
    class="cursor"
    data-cursorDisplay="|"
    data-owner="typer-stability"
  ></span>
</div>
<br />
<ul class="points-list center-section--1">
  <li class="point">True value added to every project</li>
  <li class="point">
    The key to good design is clear and simple communication
  </li>
  <li class="point">
    Our experience & know-how is constantly changing and evolving with every new
    project
  </li>
  <li class="point">
    We have been in business since 2007 and we have successfully completed over
    875 projects by 2020
  </li>
  <li class="point">
    We provide diverse skills and resources to solve even complex frames;
    BCAR-ready and BIM-compliant.
  </li>
</ul>
<div class="gallery-carousel" id="carousel-stability1">
  <div class="gallery-carousel-arrows"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability1/img1.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability1/img1.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability1/img2.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability1/img2.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability1/img3.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability1/img3.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability1/img4.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability1/img4.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability1/img5.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability1/img5.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability1/img6.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability1/img6.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability1/img7.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability1/img7.png') }}"
          alt=""
        /></div
    ></a>
  </div>
  <div class="gallery-carousel-dots"></div>
</div>
<div class="gallery-tip" id="Pipe-Racks-Bridges">
  <ion-icon name="alert-circle-outline"></ion-icon> Click on the images to view
  them better!
</div>
<div class="gallery-carousel" id="carousel-stability2">
  <div class="gallery-carousel-dots"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img1.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img1.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img2.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img2.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img3.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img3.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img4.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img4.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img5.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img5.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img6.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img6.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img7.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img7.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img8.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img8.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img9.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img9.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img10.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img10.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img11.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img11.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img12.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img12.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/stability2/img13.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/stability2/img13.png') }}"
          alt=""
        /></div
    ></a>
  </div>
  <div class="gallery-carousel-arrows"></div>
</div>
<div class="gallery-video-wrapper">
  <div class="gallery-video">
    <video id="video-stability" loop autoplay="true" muted="muted">
      <source
        src="{{ url_for('static', filename='intro/vid/gallery/stability.mp4') }}"
      />
    </video>
  </div>
</div>

<div class="section-sep"></div>

<div class="title" id="Specialist-Steel-Connection-Designs">
  <span>Specialist Steel Connection Designs</span>
</div>
<div class="desc center-section--2">
  Steel connection designs from a specialist for complex tasks.
</div>
<br />
<div class="typer-wrapper center-section--2">
  <span>We work for: </span
  ><span
    class="typer"
    id="typer-stability"
    data-words="consulting engineers, fabricators, contractor-led design teams"
    data-delay="75"
    data-deleteDelay="1500"
    data-colors="#727272"
  ></span>
  <span
    class="cursor"
    data-cursorDisplay="|"
    data-owner="typer-stability"
  ></span>
</div>
<br />
<ul class="points-list center-section--2">
  <li class="point">A comprehensive and clear steel connection design</li>
  <li class="point">
    All the calculations that you would need and ready for submission
  </li>
  <li class="point">
    All loads and capacities as per EN1993-8 and backed by FEA where necessary
  </li>
  <li class="point">
    We listen, we learn and we design connections that suit the buildings and
    economical to fabricate
  </li>
</ul>
<div class="gallery-carousel" id="carousel-connections">
  <div class="gallery-carousel-arrows"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img1.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img1.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img2.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img2.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img3.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img3.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img4.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img4.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img5.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img5.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img6.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img6.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img7.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img7.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img8.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img8.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img9.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img9.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/connections/img10.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/connections/img10.png') }}"
          alt=""
        /></div
    ></a>
  </div>
  <div class="gallery-carousel-dots"></div>
</div>

<div class="section-sep"></div>

<div class="title" id="Air-Stabilised-Domes">
  <span>Air-Stabilised Domes</span>
</div>
<div class="desc center-section--3">
  Large, stable structures without intermediate supports.
</div>
<br />
<div class="typer-wrapper center-section--3">
  <span>We work for: </span
  ><span
    class="typer"
    id="typer-stability"
    data-words="manufacturers, specialist fabricators, contractor-led design teams"
    data-delay="75"
    data-deleteDelay="1500"
    data-colors="#727272"
  ></span>
  <span
    class="cursor"
    data-cursorDisplay="|"
    data-owner="typer-stability"
  ></span>
</div>
<br />
<ul class="points-list center-section--3">
  <li class="point">
    Large scale structures with ultra-large spans without intermediate supports
  </li>
  <li class="point">
    Ideal to cover sports facilities, football pitches, hangars
  </li>
  <li class="point">
    Foundation design for uplift and drainage design to cater for the storm
    water that comes off a large scale structure
  </li>
  <li class="point">
    Design check to all relevant EN standards and calculations ready to submit
    for third party approval
  </li>
  <li class="point">Calculations augmented by FEA where necessary</li>
</ul>
<div class="gallery-carousel" id="carousel-domes">
  <div class="gallery-carousel-arrows"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/domes/img1.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/domes/img1.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/domes/img2.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/domes/img2.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/domes/img3.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/domes/img3.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/domes/img4.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/domes/img4.jpg') }}"
          alt=""
        /></div
    ></a>
  </div>
  <div class="gallery-carousel-dots"></div>
</div>

<div class="section-sep"></div>

<div class="title" id="Steel-Support-Brackets">
  <span>Steel Support Brackets</span>
</div>
<div class="desc center-section--4">
  Professional steel and stone support brackets, adaptable to any build.
</div>
<br />
<div class="typer-wrapper center-section--4">
  <span>We work for: </span
  ><span
    class="typer"
    id="typer-stability"
    data-words="manufacturers, specialist fabricators"
    data-delay="75"
    data-deleteDelay="1500"
    data-colors="#727272"
  ></span>
  <span
    class="cursor"
    data-cursorDisplay="|"
    data-owner="typer-stability"
  ></span>
</div>
<br />
<ul class="points-list center-section--4">
  <li class="point">
    Bespoke stone cladding support brackets even for the most challenging
    building
  </li>
  <li class="point">
    To suit a variety of underlying substrate, cavity width (insulation
    thickness) and facades support methods
  </li>
  <li class="point">
    Including overhead stones and safety critical installations
  </li>
  <li class="point">
    Design check to all relevant EN standards and calculations ready to submit
    for third party approval
  </li>
  <li class="point">Calculations supported by FEA at all times</li>
</ul>
<div class="gallery-carousel" id="carousel-brackets">
  <div class="gallery-carousel-arrows"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img1.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img1.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img2.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img2.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img3.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img3.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img4.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img4.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img5.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img5.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img6.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img6.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img7.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img7.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img8.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img8.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img9.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img9.png') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/brackets/img10.png') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/brackets/img10.png') }}"
          alt=""
        /></div
    ></a>
  </div>
  <div class="gallery-carousel-dots"></div>
</div>
<div class="gallery-tip">
  <ion-icon name="alert-circle-outline"></ion-icon> Click on the images to view
  them better!
</div>

<div class="section-sep"></div>

<div class="title" id="Temporary-Works-and-Scaffoldings">
  <span>Temporary Works and Scaffoldings</span>
</div>
<div class="gallery-video-wrapper">
  <div class="gallery-video">
    <video id="video-stability" loop autoplay="true" muted="muted">
      <source
        src="{{ url_for('static', filename='intro/vid/gallery/scaffolding1.mp4') }}"
      />
    </video>
  </div>
</div>
<div class="desc center-section--5">
  Professional scaffolding designs, adaptable to any build.
</div>
<br />
<div class="typer-wrapper center-section--5">
  <span>We work for: </span
  ><span
    class="typer"
    id="typer-stability"
    data-words="scaffolders, consulting Engineers, contractor-led design teams"
    data-delay="75"
    data-deleteDelay="1500"
    data-colors="#727272"
  ></span>
  <span
    class="cursor"
    data-cursorDisplay="|"
    data-owner="typer-stability"
  ></span>
</div>
<br />
<ul class="points-list center-section--5">
  <li class="point">
    Bespoke scaffolding design using system scaffolding and tube-and-fit outside
    TG20 and HSE defined ‘standard scaffolding’
  </li>
  <li class="point">
    Design scaffoldings for large industrial applications: masts, turbines,
    infrastructure projects
  </li>
  <li class="point">System scaffolds: Kwikstage, Layher</li>
  <li class="point">Temporary propping and facade retention design</li>
</ul>
<div class="gallery-video-wrapper">
  <div class="gallery-video">
    <video id="video-stability" loop autoplay="true" muted="muted">
      <source
        src="{{ url_for('static', filename='intro/vid/gallery/scaffolding2.mp4') }}"
      />
    </video>
  </div>
</div>

<div class="section-sep"></div>

<div class="big-title">Pressure Vessels</div>
<div class="title" id="Tanks-Silos-Pressure-Vessels">
  <span>Tanks, Silos, Pressure Vessels</span>
</div>
<div class="gallery-carousel carousel-wt-vid" id="carousel-vessels1">
  <div class="gallery-carousel-arrows"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels1/img1.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels1/img1.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels1/img2.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels1/img2.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels1/img3.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels1/img3.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels1/img4.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels1/img4.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels1/img5.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels1/img5.jpg') }}"
          alt=""
        /></div
    ></a>
    <span class="gallery-carousel-item gallery-item-vid"
      ><div class="gallery-carousel-vid">
        <video loop autoplay="true" muted="muted">
          <source
            src="{{ url_for('static', filename='intro/vid/gallery/vessels1.mp4') }}"
          />
        </video></div
    ></span>
  </div>
  <div class="gallery-carousel-dots"></div>
</div>
<div class="desc center-section--6">
  Vessels capable of withstanding the highest category pressures.
</div>
<br />
<div class="typer-wrapper center-section--6">
  <span>We work for: </span
  ><span
    class="typer"
    id="typer-stability"
    data-words="manufacturers, specialist fabricators"
    data-delay="75"
    data-deleteDelay="1500"
    data-colors="#727272"
  ></span>
  <span
    class="cursor"
    data-cursorDisplay="|"
    data-owner="typer-stability"
  ></span>
</div>
<br />
<ul class="points-list center-section--6">
  <li class="point">Up to Category IV, the highest category vessels</li>
  <li class="point">
    Based on experience, we provide a vessel design that is holistic, safety
    centred and fabricator friendly
  </li>
  <li class="point">
    Design check to all relevant EN vessel standards and calculations ready to
    submit for third party or notified body approval
  </li>
  <li class="point">Calculations backed by FEA where necessary</li>
  <li class="point">
    We listen, we learn and we design the vessel that meets your specific
    requirements
  </li>
</ul>
<div class="gallery-carousel carousel-wt-vid" id="carousel-vessels2">
  <div class="gallery-carousel-arrows"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels2/img1.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels2/img1.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels2/img2.jpeg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels2/img2.jpeg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels2/img3.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels2/img3.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels2/img4.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels2/img4.jpg') }}"
          alt=""
        /></div
    ></a>
    <span class="gallery-carousel-item gallery-item-vid"
      ><div class="gallery-carousel-vid">
        <video loop autoplay="true" muted="muted">
          <source
            src="{{ url_for('static', filename='intro/vid/gallery/vessels2.mp4') }}"
          />
        </video></div
    ></span>
  </div>
  <div class="gallery-carousel-dots"></div>
</div>
<div class="gallery-tip">
  <ion-icon name="alert-circle-outline"></ion-icon> Click on the images to view
  them better!
</div>
<div class="gallery-carousel carousel-wt-vid" id="carousel-vessels3">
  <div class="gallery-carousel-dots"></div>
  <div class="gallery-carousel-body">
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels3/img1.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels3/img1.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels3/img2.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels3/img2.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels3/img3.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels3/img3.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels3/img4.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels3/img4.jpg') }}"
          alt=""
        /></div
    ></a>
    <a
      class="gallery-carousel-item"
      href="{{ url_for('static', filename='intro/img/carousels/vessels3/img5.jpg') }}"
      ><div class="gallery-carousel-img">
        <img
          loading="lazy"
          src="{{ url_for('static', filename='intro/img/carousels/vessels3/img5.jpg') }}"
          alt=""
        /></div
    ></a>
    <span class="gallery-carousel-item gallery-item-vid"
      ><div class="gallery-carousel-vid">
        <video loop autoplay="true" muted="muted">
          <source
            src="{{ url_for('static', filename='intro/vid/gallery/vessels3.mp4') }}"
          />
        </video></div
    ></span>
  </div>
  <div class="gallery-carousel-arrows"></div>
</div>
<div class="big-title">Clients</div>
<div class="desc center-section--7">
  We've worked extensively with these compainies:
</div>
<div class="gallery-carousel-clients">
  <div class="clients-carousel-arrows"></div>
  <div class="clients-carousel-body">
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Carey_Building.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/CarbonCare.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Deane_Roofing.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Blackwater_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Connacht_Fabrication.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/EPS.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/FarlEng_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/NUIG.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/FDK_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/PatRynn_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Rocklyn_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/SIP-Energy.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/St-One.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Ross_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Shevlin_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/STW.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/TG4.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/SX_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/Suir_Engineering.png') }}"
        alt=""
      />
    </div>
    <div class="clients-carousel-item">
      <img
        src="{{ url_for('static', filename='intro/img/clients/TUD.png') }}"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %} {% block js_files %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='intro/js/jquery.magnific-popup.min.js') }}"
></script>
<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='intro/js/gallery.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='intro/js/slick.min.js') }}"
></script>
{% endblock %}
