<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{{ url_for('static', filename='/favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register a New Account | Gabor Molnar Engineering</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400&family=Source+Code+Pro:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/xuc1dva.css" />
    <style>
      html,
      body {
        margin: 0;
        font-family: liberation-sans, sans-serif;
      }
    </style>
    <script type="module" crossorigin src="{{ url_for('static', filename='auth/js/register-b6ddda19.js') }}"></script>
    <link rel="modulepreload" href="{{ url_for('static', filename='shared/js/Footer-d6965b97.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='shared/css/Footer-2b543d48.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/css/register-4e1264a7.css') }}">
  </head>

  <body>
    <div id="app"></div>
    <script type="text/javascript">
      "use strict";
      const routes = ["home.home", "home.gallery"];
      try {
        globalThis.jinjaParsed = false;
        if (!Number.parseInt("{{ 1 }}"))
          throw new Error("Jinja wasn't parsed.");
        globalThis.jinjaParsed = true;

        globalThis.csrf_token = "{{ csrf_token() }}";
        globalThis.urlRoot = "{{ request.url_root }}";
        globalThis.loggedIn = JSON.parse("{{ bool(user)|tojson }}");
        // globalThis.urlRoutes["home.home"] --> {{ url_for('home.home') }}
        globalThis.urlRoutes = JSON.parse(`{
          {%- for route in ["home.home", "home.gallery"] %}
            "{{ route }}": "{{ url_for(route) }}"{% if not loop.last %},{% endif %}
          {%- endfor %}
        }`);
      } catch (err) {
        globalThis.loggedIn = false;
        globalThis.urlRoutes = {};
        routes.forEach((route) => (globalThis.urlRoutes[route] = "#/"));
        console.log(err);
      }
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    
  </body>
</html>
