<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/cog1-svgrepo-com.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Gabor Molnar Engineering</title>
    <script type="module" crossorigin src="/static/auth/js/register-DQR5CtcR.js"></script>
    <link rel="modulepreload" crossorigin href="/static/shared/js/svelte-Dn3LxMab.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/index-client-ye65gFmA.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/helper-BdH2pwvn.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/attributes-DIkj7TX0.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/input-DQmmrUAU.js">
    <link rel="stylesheet" crossorigin href="/static/shared/css/tailwindinit-DT_wI7HH.css">
    <link rel="stylesheet" crossorigin href="/static/auth/css/register-B1ZOryAr.css">
  </head>
  <body>
    <div id="app"></div>
    <input id="flask-server" type="hidden" value="http://127.0.0.1:5000/" />
    <script>
      globalThis.jinjaParsed = false;
      globalThis.urlRoot = document.getElementById("flask-server").value;
      try {
        if (!Number.parseInt("{{ 1 }}"))
          throw new Error("Jinja wasn't parsed.");
        globalThis.jinjaParsed = true;
        globalThis.urlRoot =
          "{{ url_for(request.endpoint).split('/')[0] + '/' }}";

        globalThis.csrfToken = "{{ csrf_token() }}";
      } catch {}
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
