<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/cog1-svgrepo-com.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Gabor Molnar Engineering</title>
    <script type="module" crossorigin src="/static/auth/js/register-3eVlTi2a.js"></script>
    <link rel="modulepreload" crossorigin href="/static/shared/js/svelte-wxNFYN69.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/props-BDnYphl6.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/index-client-ClCHpcv5.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/transitions-BJf-hyj-.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/key-D2Zt7nh_.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/svelte-element-C7JgrT0r.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/size-DjI6huu9.js">
    <link rel="stylesheet" crossorigin href="/static/shared/css/tailwindinit-Bmxtm184.css">
    <link rel="stylesheet" crossorigin href="/static/auth/css/register-C4CRoQdj.css">
  </head>
  <body>
    <div id="app"></div>
    <input id="flask-server" type="hidden" value="http://127.0.0.1:5000" />
    <script>
      globalThis.jinjaParsed = false;
      globalThis.urlRoot = document.getElementById("flask-server").value;
      try {
        if (!Number.parseInt("{{ 1 }}"))
          throw new Error("Jinja wasn't parsed.");
        globalThis.jinjaParsed = true;
        globalThis.urlRoot =
          "{{ url_for(request.endpoint).split('/')[0] + '/' }}";

        globalThis.csrfToken = "{{ csrf_token() }}";
      } catch {}
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
