@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0b0b09;
  --background: #f8f8f7;
  --rock: #8e937b;
  --steel: #b8c3b6;
  --oxygen: #9aac9d;

  --text-50: #f4f4f1;
  --text-100: #e8e8e3;
  --text-200: #d1d1c7;
  --text-300: #babaab;
  --text-400: #a3a38f;
  --text-500: #8c8c73;
  --text-600: #70705c;
  --text-700: #545445;
  --text-800: #38382e;
  --text-900: #1c1c17;
  --text-950: #0e0e0b;

  --background-50: #f3f3f1;
  --background-100: #e7e7e4;
  --background-200: #d0d0c8;
  --background-300: #b8b8ad;
  --background-400: #a0a092;
  --background-500: #888877;
  --background-600: #6d6d5f;
  --background-700: #525247;
  --background-800: #37372f;
  --background-900: #1b1b18;
  --background-950: #0e0e0c;

  --rock-50: #f3f4f1;
  --rock-100: #e7e8e3;
  --rock-200: #cfd1c7;
  --rock-300: #b7baab;
  --rock-400: #9fa38f;
  --rock-500: #878c73;
  --rock-600: #6c705c;
  --rock-700: #515445;
  --rock-800: #36382e;
  --rock-900: #1b1c17;
  --rock-950: #0e0e0b;

  --steel-50: #f1f4f1;
  --steel-100: #e4e8e3;
  --steel-200: #c8d1c7;
  --steel-300: #adbaab;
  --steel-400: #92a38f;
  --steel-500: #778c73;
  --steel-600: #5f705c;
  --steel-700: #475445;
  --steel-800: #2f382e;
  --steel-900: #181c17;
  --steel-950: #0c0e0b;

  --oxygen-50: #f1f4f1;
  --oxygen-100: #e3e8e4;
  --oxygen-200: #c7d1c9;
  --oxygen-300: #abbaad;
  --oxygen-400: #8fa392;
  --oxygen-500: #738c77;
  --oxygen-600: #5c705f;
  --oxygen-700: #455447;
  --oxygen-800: #2e3830;
  --oxygen-900: #171c18;
  --oxygen-950: #0b0e0c;
}
