<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/cog1-svgrepo-com.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Gabor Molnar Engineering</title>
    <script type="module" crossorigin src="/static/testing/js/testing-CA0v3dva.js"></script>
    <link rel="modulepreload" crossorigin href="/static/shared/js/svelte-COkJ5VSo.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/helper-B55Z4K4d.js">
    <link rel="stylesheet" crossorigin href="/static/testing/css/testing-Cqk0xYRH.css">
  </head>
  <body>
    <div id="app"></div>
    <script>
      globalThis.jinjaParsed = false;
      try {
        if (!Number.parseInt("{{ 1 }}"))
          throw new Error("Jinja wasn't parsed.");
        globalThis.jinjaParsed = true;

        globalThis.csrfToken = "{{ csrf_token() }}";
      } catch {}
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
