<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/shared/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/shared/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/shared/img/favicon-16x16.png"
    />
    <link rel="manifest" href="static/shared/site.webmanifest" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Guidance Documents | Gabor Molnar Engineering</title>
    <script type="module" crossorigin src="/static/blog/js/search-B8RaMv9i.js"></script>
    <link rel="modulepreload" crossorigin href="/static/shared/js/svelte-CkzmYXov.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/index-client-Dre4Htkw.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/input-Bo7zoL-N.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/size-BAd_pEJ3.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/this-C6LQ0HLc.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/watch.svelte-dyya_HJX.js">
    <link rel="modulepreload" crossorigin href="/static/blog/js/index-Bzzfh_GY.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/context-DEf1DyiQ.js">
    <link rel="modulepreload" crossorigin href="/static/blog/js/Footer-DoUatMUt.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/transitions-BRQzYLhQ.js">
    <link rel="modulepreload" crossorigin href="/static/blog/js/CaretDownIcon-CZisxW6O.js">
    <link rel="stylesheet" crossorigin href="/static/blog/css/BlogsList-vyEEIFru.css">
    <link rel="stylesheet" crossorigin href="/static/shared/css/tailwindinit.css">
    <link rel="stylesheet" crossorigin href="/static/blog/css/search-C6XpIQV4.css">
  </head>
  <body style="background-color: var(--color-background)">
    <div id="app" style="position: relative"></div>
    <input id="flask-server" type="hidden" value="http://127.0.0.1:5000" />
    <script>
      globalThis.jinjaParsed = false;
      globalThis.urlRoot = document.getElementById("flask-server").value;
      try {
        if (!Number.parseInt("{{ 1 }}"))
          throw new Error("Jinja wasn't parsed.");
        globalThis.jinjaParsed = true;
        globalThis.urlRoot =
          "{{ url_for(request.endpoint).split('/')[0] + '/' }}";

        globalThis.csrfToken = "{{ csrf_token() }}";
      } catch {}
    </script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
