<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/shared/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/shared/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/shared/img/favicon-16x16.png"
    />
    <link rel="manifest" href="static/shared/site.webmanifest" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Tags</title>
    <script type="module" crossorigin src="/static/blog/js/tagsedit-OIII1p3Z.js"></script>
    <link rel="modulepreload" crossorigin href="/static/shared/js/svelte-BUzXFy7s.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/watch.svelte-DBW_fT2a.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/input-DhFY8w-H.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/this-DrKiSwkd.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/transitions-B-qLeVdp.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/extract.svelte-BFI1Iy2y.js">
    <link rel="modulepreload" crossorigin href="/static/shared/js/context-Cx66y0Yi.js">
    <link rel="modulepreload" crossorigin href="/static/blog/js/ArrowCounterClockwiseIcon-BW13iLv9.js">
    <link rel="modulepreload" crossorigin href="/static/blog/js/index-Bzzfh_GY.js">
    <link rel="modulepreload" crossorigin href="/static/blog/js/TrashIcon-fCRE2DP-.js">
    <link rel="stylesheet" crossorigin href="/static/shared/css/tailwindinit.css">
    <link rel="stylesheet" crossorigin href="/static/blog/css/tagsedit-CG__aTyk.css">
  </head>
  <body>
    <div id="app" style="position: relative"></div>
    <input id="flask-server" type="hidden" value="http://127.0.0.1:5000" />
    <script>
      globalThis.jinjaParsed = false;
      globalThis.urlRoot = document.getElementById("flask-server").value;
      try {
        if (!Number.parseInt("{{ 1 }}"))
          throw new Error("Jinja wasn't parsed.");
        globalThis.jinjaParsed = true;
        globalThis.urlRoot =
          "{{ url_for(request.endpoint, id=document_or_component_id).split('/')[0] + '/' }}";

        globalThis.csrfToken = "{{ csrf_token() }}";
        globalThis.allDocTags = JSON.parse(`{{ all_tags|tojson }}`);
      } catch {}
    </script>

  </body>
</html>
